@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'montserrat';
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap);
}
/*Es la font family que usan: Montserrat
-Titulo y categoria: weight->800
-Filtros y footer: weight->400
-Los mas populares y nombres de pizza en card: weight->500
-Subtitulo de la card: weight->400
-Precios: weight->700
-botones: weight->600

-Tus productos, subtotal, envio, total: weight->500
-Comprar: weight->700
*/

:root{
    --dark-black: #252525;
    --yellow: #ffa400;
    --red: #fc2933;  
    --white: #ffffff;   
    --gray: #4d4d4d;   
    --gradient-yellow: #ffa100;
    --gradient-red: #fb103d;
}
/*Paleta de colores que tenemos que utilizar, los ultimos dos son para hacer el gradient*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

body {
    background: #131415;
    position: relative;
    font-size: 16px;
    color: #fff;
    font-family: 'montserrat';
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 50px;
    z-index: 50;
    background: #131415;
    opacity: .9;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__cart-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.home-icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.home-icon-container {
    cursor: pointer;
}

.home-icon-container a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.navbar__cart img{
    cursor: pointer;
}

.user {
    cursor: pointer;
}

.container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 70%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.info h1 {
    font-size: 58px;
}

.info .nucba {
    display: block;
    font-size: 45px;
}

.info p {
    font-size: 18px;
    font-weight: 200;
}

.info button {
    width: 156px;
    height: 42px;
    border-radius: 15px;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    color: #fff;
    border: none;
    box-shadow: 11px 28px 20px rgb(20 78 90 / 20%);
    cursor: pointer;
    text-transform: uppercase;
}

.info-img {
    display: flex;
    position: relative;
    width: 10%;
}

.pizza1 {
    width: 265px;
    height: 265px;
}

.pizza-absolute{
    position: absolute;
    left: 120px;
    top: -115px;
    width: 396px;
    height: 396px;
    z-index: 1;
}

.container-recomendaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 90px;
    margin-top: 40px;
}

.cards-recom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin-top: 15px;
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--dark-black);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(1, 2, 7, 0.5);
    width: 362px;
    height: 100px;
}

.card img {
    width: 62px;
    height: 62px;
    border-radius: 16px;
    object-fit: cover;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 40%;
}

.card-text h3 {
    font-size: 15px;
}

.card-text p {
    font-size: 13px;
}

.card-text .color {
    font-size: 17px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
} 

.card button {
    width: 85px;
    height: 29px;
    border-radius: 17px;
    color: #fff;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    cursor: pointer;
    border: none;
}

.container-recomendaciones h2 {
    font-size: 18px;
    font-weight: 400;
}

.container-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 90px;
    margin-top: 60px;
    
}

.container-categories h2 {
    font-size: 15px;
    padding-bottom: 20px;
}

.container-cards-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 97%;
}

.container-cards-category .category {
    box-shadow: 0px 0px 8px rgba(1, 2, 7, 0.5)
}

.container-cards-category :hover {
    transform: translateY(-10%);
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--dark-black);
    cursor: pointer;
    width: 12%;
    height: 157px;
    border-radius: 15px;
    position: relative;
}

.category img {
    height: 85px;
}

.category h3 {
    font-size: 12px;
    font-weight: 300;
}

.rectangulito {
    width: 24px;
    height: 4px;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    border-radius: 15px;
}

.container-comida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 70px 0;
    width: 100%;
}

.container-comida h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.container-cards-comida {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    gap: 25px;
    margin-top: 20px;
}

.cards-comida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--dark-black);
    padding: 14px 17px;
    border-radius: 15px;
    gap: 10px;
    height: 280px;
    width: 23%;
    box-shadow: 0px 0px 8px rgba(1, 2, 7, 0.5)
}

.cards-comida img {
    width: 100%;
    height: 160px;
    border-radius: 16px;
    object-fit: cover;
}

.cards-comida h3 {
    font-size: 15px;
    font-weight: 500;
}

.cards-comida p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: .3;
}

.precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.precio .color {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 19px;
}

.precio button {
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    border-radius: 17px;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
    cursor: pointer;
} 

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 30px;
}

.footer-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38%;
}

.footer-text a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.nosotros p {
    font-size: 17px;
}

.nosotros .color {
    color: #f00;
}

.nosotros .text {
    font-weight: 800;
}

.active {
    background: var(--gray);
}

/* Menu Hamburguesa */
.nav-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background: #2C2C2C;
    padding: 15px;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-200%);
    transition: all .5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.nav-menu li {
    list-style: none;
    align-content: flex-start;
    transition: all .5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.nav-menu li a {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    
}

.nav-menu li a.active-menu-item, .nav-menu li a :hover {
    color: var(--gradient-yellow);
    transition: .3s; 
}

.menu-btn {
    display: none;
}

/* Carrito */
.cart {
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #2C2C2C;
    padding: 15px;
    border-radius: 0 0 0 15px;
    width: 28%;
    z-index: 120;
    transform: translate(200%);
    transition: all .5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.close {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    text-align: center;
    cursor: pointer;
}

.cart h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cart-card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    background: var(--dark-black);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(1, 2, 7, 0.5);
    padding: 8px 4px;
}

.cart-card img {
    width: 60px;
    height: 60px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.cart-info h3 {
    font-size: 14px;
    font-weight: 500;
}

.cart-info p {
    font-size: 13px;
    font-weight: 400;
    opacity: .3;
}

.cart-info .color {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.down {
    background: transparent;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.down::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(255, 161, 0, .1), rgb(255, 0, 92, .1));
}

.menos {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FFA100 -0.81%, #FF005C 101.53%);
    font-weight: 700;
    width: 7px;
    height: 1.43px;
}

.item-quantity {
    font-size: 15px;
    opacity: 70%;
    font-weight: 500;
}

.up {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FFA100 -0.81%, #FF005C 101.53%);
    border-radius: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.cart-subtotal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    gap: 10px;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.envio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(157, 157, 157, 0.4);
    margin: 15px 0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cart-total p {
    font-size: 20px;
    font-weight: 500;
}

.cart-total .total {
    font-size: 20px;
    font-weight: 700;
    color: #ff7a00;
}

.btn-buy {
    align-self: center;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.btn-delete {
    align-self: center;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(to right,var(--gradient-yellow), var(--gradient-red));
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.show-more a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    opacity: .3;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 60;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(193, 194, 201, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

.open-cart {
    transform: translate(0%);
    transition: all .5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #4BB543;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    text-align: center;
    transform: translateY(200%);
}
  
.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

@media (max-width: 768px) {
    .home-icon-container {
        display: none;
    }

    .user {
        display: none;
    }

    .cart-menu {
        width: 40px;
        margin-right: 90px;
    }

    .cart {
        width: 90%;
        opacity: 1;
    }

    /* Menu hamburguesa */
    .menu-btn {
        display: block;
        top: 50px;
        right: 2%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 35px;
        z-index: 300;
    }
    .menu-btn:before,
    .menu-btn:after,
    .menu-btn div {
        background: var(--gradient-yellow);
        content: "";
        display: block;
        height: 6px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.5s;
    }

    .menu-btn:hover:before {
        transform: translateY(12px) rotate(135deg);
    }

    .menu-btn:hover:after {
        transform: translateY(-12px) rotate(-135deg);
    }

    .menu-btn:hover div {
        transform: scale(0);
    }

    .nav__menu-visible {
        display: flex;
        transform: translate(0%);
        transition: all .5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    .hidden {
        display: none;
    }
}
